<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h3>Depoimentos</h3>
    <form action="/gravar" method='POST'>
    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
    <br>
    <input type="text" name="cargo" id="cargo" placeholder="Digite seu nome">
    <br>
    <textarea name="mensagem" id="mensagem" cols="30" rows="10">Digite sua mensagem</textarea>
    <br>
    <input type="submit" value="Gravar">
    
    </form>
    <table>
        <tr>
            <th>nome:</th>
            <th>cargo:</th>
            <th>mensagem:</th>
        </tr>

        <% for(var n=0, n<depoimentos.length; n++){ %>
            <tr>
                <td><%depoimentos[n].nome%></td>
                <td><%depoimentos[n].cargo%></td>
                <td><%depoimentos[n].mensagem%></td>          
            </tr>
        <% } %>
    </table>
    
</body>
</html>